blinker==1.7.0
click==8.1.7
Flask==3.0.3
itsdangerous==2.1.2
Jinja2==3.1.4
livereload==2.6.3
Markdown==3.6
MarkupSafe==2.1.5
pymdown-extensions==10.7.1
PyYAML==6.0.1
six==1.16.0
tornado<=6.4
Werkzeug==3.0.2
