name: Lint
run-name: Linting ${{ github.repository }}

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: Perform lint
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version:
          - '3.12'

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.5.0
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v3.5.3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v4.7.0
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install uv with all available options
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true
          activate-environment: true

      - name: Install Dependencies
        run: >
          uv pip install
          -r requirements.txt
          ruff
          mypy

      - name: Ruff Linter
        run: ruff check . --diff

      - name: Ruff Formatter
        run: ruff format .

      - name: Create .mypy_cache dir if not exists
        run: |
          if [[ ! -d .mypy_cache ]]; then
            mkdir .mypy_cache
          fi

      - name: Mypy Type Checker
        run: >
          mypy .
          --install-types
          --non-interactive
